# Structure de types de données en python:

# Exercice à rendre

## Exercice 1

In [12]:
# Écrire un programme Python qui multiplie tous les éléments d'une liste.
# liste d'échantillons = [2, 3, 6]
liste_echantillons = [2, 3, 6]
resultat = 1 # initialisation de la vraiable resultat.
for element in liste_echantillons: # on appelle liste_echantillons par la boucle for
    resultat *= element
    print("le produit de tous les elements de la liste est:", resultat) # affichage du résultat

le produit de tous les elements de la liste est: 2
le produit de tous les elements de la liste est: 6
le produit de tous les elements de la liste est: 36

# Exercice 2

In [ ]:
#Écrivez un programme Python pour obtenir une liste,
#triée par ordre croissant par le dernier élément de chaque tuple,à partir d'une liste donnée de tuples non vides.
# Liste d'échantillons : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

ma_liste = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)

In [55]:
liste_trie = sorted(ma_liste)

In [56]:
print("le resultat du trie par ordre croissant est:", liste_trie)

le resultat du trie par ordre croissant est: [(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

# Exercice 3

In [ ]:
# Écrivez un programme Python qui combine deux dictionnaires en ajoutant des valeurs pour les clés communes.
# énoncé 
#d1 = {'a' : 100, 'b' : 200, 'c' : 300}

#d2 = {'a' : 300, 'b' : 200, 'd' : 400}

In [67]:
d1 = {'a' : 100, 'b' : 200, 'c' : 300}
d2 = {'a' : 300, 'b' : 200, 'd' : 400}

In [70]:
d3 = d1.copy() # copie de d1 = D3
for cle,valeur in d2.items():   # utiliser la boucle For pour appeler les clés et les valeurqs
    d3[cle] = d3.get(cle, 0) + valeur  # get est utilisé pour récupere les clés

In [71]:
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Exercice 4

In [ ]:
# ecrire un nombre entier donné n,pour générer un dictionnaire
#qui contient (i, i*i) où i est un nombre entier entre 1 et n (inclus)

In [8]:
n = int(input("saisir le nombre"))
dict_resultat = {}
for i in range(1, n+1): # utlisation de for et range, n+1 pour faire un arrêt 
    dict_resultat[i] = i*i # i*i c'est pour la multiplication
    print(dict_resultat) # resultat

saisir le nombre8
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Exercice 5

In [23]:
# ecrire un programme pour trier un tuple en fonction de son element en virgule flottante
tup= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

#on va trier tup, passoms une foonct. lambda, ensuite x converir en en float
sorted_tup = sorted(tup, key = lambda x: float(x[1]), reverse= True)
# resultat
print(sorted_tup)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

# Execice 6

In [ ]:
### 1
# ecrire un programme pour créer un ensemble 
set = {"babou","papa","dieynaba"}

In [2]:
# ecrire un programme python pour itérer sur des ensmbles
set_deux = {1,3,5,7,8,9,11,12,13}
for n in set_deux: # on utilisé la boucle for ou ajouter range pour l'itération, on peut aussi utiliser while
    print(n)

1
3
5
7
8
9
11
12
13

In [3]:
# ecrire  un programme Python pour ajouter des membres dans un ensemble et pour supprimer des éléments d'un ensemble donné.
nom = set() # ensemble set
# ajout des elements nom.add
nom.add("region")
nom.add("ville")
nom.add("departement")
nom.add("commune")

In [4]:
print(nom)# résultat

{'ville', 'commune', 'departement', 'region'}

In [6]:
nom.remove("departement")# remove utilisé pour faire la suppression

In [8]:
print(nom) # resultat

{'ville', 'commune', 'region'}